* { 
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
}

.product-title {
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
  font-size: 22px;
  padding: 10px 0;
  grid-column: 1 / -1;
}

.product-image {
  width: 250px;
  height: 250px;
}

.product-info-container {
  display: flex;
  gap: 40px;
}

.product-info {
  margin-top: 20px;
  flex: 1;
}
.price-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.product-price {
  font-size: 24px;
}
.product-tag {
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  font-size: 12px;
}
.product-discription {
  margin-bottom: 10px;
}
.sale {
  background-color: red;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 7px 15px;
  font-weight: bold;
  position: absolute;
  top: -17px;
  left: -38px;
}
.more-info-link:link , .more-info-link:visited {
  font-size: 14px;
  color: black;
  display: inline-block;
  margin-bottom: 30px;
}
.more-info-link:hover  , .more-info-link:active{
  text-decoration: none;
}
.color {
  display: flex;
  gap: 10px;
}
.product-color-1 , .product-color-2, .product-color-3 ,.product-color-4, .product-color-5 , .product-color-6 {
  width: 20px;
  height: 20px;
}
.product-color-1 {
  background-color: black;
}
.product-color-2 {
  background-color: blue;
}
.product-color-3 {
  background-color: red;
}
.product-color-4 {
  background-color: orange;
}
.product-color-5 {
  background-color: green;
}
.product-color-6 { 
  background-color: brown;
}

.add-cart {
  color: white;
  background-color: black;
  text-transform: uppercase;
  border: none;
  font-size: 22px;
  cursor: pointer;
  width: 100%;
  padding: 15px 0;
  border-top: 4px solid black;
  grid-column: 1 / -1;
}
.add-cart:hover {
 background-color: white;
 color: black;
 
}