* { 
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
}

.product-title {
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
  font-size: 22px;
  padding: 10px 0;
  grid-column: 1 / -1;
}