/* css reset */
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* body  */
body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 60px;
  align-items: start;
}
p {
  font-size: 18px;
  line-height: 1.5;
}

h3 {
  color: #1098ad;
  font-size: 30px;
  margin: 20px 0;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding: 20px 40px;
  grid-column: 1 / -1;
}
.main-header-title {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  color: #1098ad;
}
.main-header-title::first-letter {
  font-style: normal;
  margin-right: 5px;
}
.menu a:link,
.menu a:visited {
  margin-right: 30px;
  color: #1098ad;
}
.menu a:last-child {
  margin-right: 0;
}
.menu a:hover {
  font-weight: bold;
  text-decoration: underline;
  color: orangered;
}

.post-header {
  margin-bottom: 40px;
  position: relative;
}

.post-header-title {
  color: #1098ad;
  margin-bottom: 30px;
  font-size: 40px;
}
.post-header-title::after {
  content: "TOP";
  background-color: yellow;
  color: black;
  font-size: 16px;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  right: -25px;
  top: -10px;
  font-weight: bold;
}
.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 15px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.post-image {
  width: 100%;
}

.secondry-info {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    padding: 50px 40px;
    }

.secondry-info-title {
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 26px;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.related-post:last-child {
  margin-bottom: 0;
}

.related-link:link {
  font-weight: bold;
  font-size: 17px;
  font-style: normal;
  display: inline-block;
  margin-bottom: 5px;
  color: #1098ad;
}
.related-link:link,
.related-link:visited {
  color: #1098ad;
}
.related-link:hover {
  font-weight: bold;
  text-decoration: underline;
  color: orangered;
}
ul,
ol {
  margin-bottom: 20px;
}
ol {
  line-height: 2;
  margin-top: 14px;
}
.learn-html {
  margin-top: 10px;
  line-height: 2;
}
.learn-html + p {
  margin-bottom: 10px;
}
.related-author {
  font-style: italic;
  font-size: 14px;
}

.mdn:link , .mdn:visited { 
  color: #1098ad;
}
.mdn:hover , .mdn:focus {
  font-weight: bold;
  color: orangered;
  text-decoration: underline;
}
.like {
  font-size: 22px;
  padding: 20px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
footer {
  margin-bottom: 12px;
  grid-column: 1 / -1;
}